body{
    margin: 0;
    padding: 0;
}
.headnav{
    margin: 0;
    padding: 5px;
    background-color: dimgrey;
}
button,#uploadForm{
    width: 80px;
    height: 25px;
    margin: 10px;
    margin-left: 30px;
    background-color: cadetblue;
    border: 1px solid cornflowerblue;
}
.CodeMirror{
    height: 400px;
}
.results{
    position: absolute;
    bottom: 0px;
    top: 490px;
    left: 0px;
    right: 0px;
}
.resulthead{
    border: 1px solid grey;
    height: 20px;
    background-color: lightgrey;
    padding: 5px;
    padding-left: 30px;
}
#result{
    width: 100%;
    height: 100%;
}
#mycode{
    width: 75%;
}
.process{
    width: 25%;
    position: absolute;
    top: 55px;
    right: 0px;
    height: 400px;
}
#file-input{
    opacity: 0;
    width: 80px;
    position: absolute;
    top: 15px;
    left: 35px;

}
#uploadForm{
    display: inline-block;
}
.filename{
    height: 30px;
    border-top: 1px solid slategray;
    border-bottom: 1px solid slategray;
    background: dimgrey;
}
#fname{
    padding: 3px 10px;
    border-right:  1px solid slategray;
    mim-width: 100px;
    width: 150px;
    max-width: 240px;
    height: 30px;
}